.subscribe-page {
    display: grid;
    grid-template-rows: 10vh 60vh 30vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a a a " "b b b" "c c c";
}

.subscribe-page header {
    grid-area: a;
    padding: 0 1rem;
}
.subscribe-page header a {
    color:#04083f; 
    }

.subscribe-page main {
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.subscribe-page main img {
    width: 100%;
    height: 200px;
}

.subscribe-page main h3 {
    margin-bottom: 20px;
    color: #042e73;
}

.subscribe-page main form input {
    border: 1px solid #042e73;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
}

.subscribe-page main form button {
    border: 1px solid #042e73;
    border-radius: 3px;
    background: #042e73;
    color: #fff;
    padding: 10px;
}

.subscribe-page main form button:hover {
    transform: scale(1.1, 1.1);
    transition: transform ease-in-out .5s;
}

.subscribe-page aside {
    grid-area: x;
    display: none;
    padding: 1rem;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.subscribe-page aside h3 {
    margin: 20px;
}

.subscribe-page aside ul {
    list-style: none;
}

.subscribe-page aside ul li {
    padding: 10px;
}

.subscribe-page aside ul li a {
    color: #04083f;
}

.subscribe-page aside ul li a:hover {
    color: #042e73;
}

.subscribe-page footer {
    grid-area: c;
}
